div {
	border-radius: 5px;
}
/*borders are only in place so 
I can see what I am working with */
#nav_bar {
	list-style: none;
}

#header {
	text-align: center;
	border: 1px solid black;
	margin-bottom: 10px;
	height: 50px;
}

#footer {
	text-align: center;
	margin-top: 20px;
	height:50px;
	border: 1px solid black;
}

#left_margin {
	height:500px;
	border: 1px solid black;
}

#right_margin {
	height:500px;
	border: 1px solid black;
}